body{
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

.dark-mode {
  background-color: #313131;
}


.header-wrapper{
    color: #141414;
    text-align: center;
    padding: 1% 0;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}

.header-wrapper.dark-mode{
    background-color: #313131;
    color: #fff;
    transition: background-color 0.5s ease;
}

.header-settings-bar {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.header-settings-bar-items {
    flex: 0 0 auto; /* Allow items to grow and shrink based on content */
    height: auto;
    margin: 0.2% 0.5%;
    padding: 5px; /* Add padding for better appearance */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}


.permission-box-container{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background: #F1F3F4;
}

.permission-box-container.dark-mode{
    background: #414141;
    transition: background-color 0.5s ease;
}

.page-wrapper{
    margin: 0.7%;
    text-align: center:
    font-family: 'Courier New', monospace;
    color: #222222;
    border: 1.3px solid #A9A9A9;
}

.page-wrapper.dark-mode{
    border: 1.3px solid #000000;
}

.permission-box {
    flex: 1;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 1%;
    background-color: #fff;
}

.permission-box.dark-mode{
    background-color: #525252;
    color: #fff;
    border: 1px solid #000000;
    transition: background-color 0.5s ease;

}


.permission-box input[type="checkbox"] {
    margin-right: 1%;
}

.permission-box label {
    font-weight: bold;

}

.permission-display {
    margin-top: 0%; /* unused*/
    text-align: center;
    font-size: 24px;
    
    background-color: #f4f4f4;
    padding: 1%;
    border-radius: 1%;
    /*border: 2px solid #007BFF;*/
}

.permission-display.dark-mode{
    background-color: #414141;
    color: #fff;
    transition: background-color 0.5s ease;
}

.permission-box-items{
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 1.5%;
    height: 15%;
    length: 55%;
    margin: 2% auto;
}

.p-box-item-octal {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    align-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.p-box-item-octal.show {
    opacity: 1;
}

