/* Updated styles to stretch the permission boxes and add a border */
body {
    margin: 0;
    padding: 0;
}

.permission-box-container {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background: #F1F3F4;
    }

.header-wrapper{
    color: #141414;
    text-align: center;
    padding: 1% 0;
    background-color: #ffffff;
}

.page-wrapper{
    margin: 0.7%;
    text-align: center:
    font-family: 'Courier New', monospace;
    color: #222222;
    border: 1.3px solid #A9A9A9 /* Border around all boxes */
}

.permission-box {
    flex: 1;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 1%;
    background-color: #fff;
}

.permission-box input[type="checkbox"] {
    margin-right: 1%;
}

.permission-box label {
    font-weight: bold;

}

.permission-box label:hover {
    border-color: #CDDC39

}

.permission-display {
    margin-top: 0%; /* unused*/
    text-align: center;
    font-size: 24px;
    
    background-color: #f4f4f4;
    padding: 1%;
    border-radius: 1%;
    /*border: 2px solid #007BFF;*/
}
