:root {
    --text-header: #141414;
    --text-primary: #141414;
    --text-secondary: #222222;
    --bg-primary: #ffffff;
    --bg-secondary: #F1F3F4;
    --bg-alt: #F4F4F4;
    --border-color: #A9A9A9;
}

[data-theme="dark"] {
    --text-primary: #ffffff;
    --text-header: #ffffff;
    --text-secondary: #ffffff;
    --bg-alt: #525252;
    --bg-secondary: #414141;
    --bg-primary: #313131;
    --border-color: #000000;
}

body{
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.header-wrapper{
    color: var(--text-header);
    text-align: center;
    padding: 1% 0;
    background-color: var(--bg-primary);
    transition: background-color 0.5s ease;
}

.header-settings-bar {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.header-settings-bar-items {
    flex: 0 0 auto; /* Allow items to grow and shrink based on content */
    height: auto;
    width: 6rem;
    margin: 0.2% 1%;
    padding: 0.3rem; /* Add padding for better appearance */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    transition-duration: 0.5s;
    border-radius: 5%;
    border: none;
    font-size: 1rem;
}

.header-settings-bar-items:hover{
}


.permission-box-container{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background: var(--bg-secondary);
}


.page-wrapper{
    margin: 0.7%;
    text-align: center;
    font-family: 'Courier New', monospace;
    color: var(--text);
    border: 1.3px solid var(--border-color);
}

.permission-box {
    flex: 1;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 1%;
    background-color: var(--bg-primary);
}

.permission-box input[type="checkbox"] {
    margin-right: 1%;
}

.permission-box label {
    font-weight: bold;

}

.permission-display {
    margin-top: 0%; /* unused*/
    text-align: center;
    font-size: 24px auto;
    background-color: var(--bg-secondary);
    padding: 1%;
    border-radius: 1%;
    /*border: 2px solid #007BFF;*/
}

.permission-box-items{
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 9%;
    height: 15% auto;
    width: 55% auto;
    margin: 1% auto;
    
}

.p-box-item-octal {
    display: flex;
    width: 50%;
    margin-left: auto;
    flex-direction: column;
    align-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.p-box-item-octal.show {
    opacity: 1;
}
